body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

/* shared css */
.primary-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0;
}

.primary-description {
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.primary-btn {
  color: #FFF;
  border-radius: 8px;
  background-color: #E55473;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 45px;
  border: none;
}

.title-color {
  color: #E55473;
}

/* banner section css */
/* .banner {
  max-height: 850px;
  max-width: 1922px;
  background-color: rgba(229, 84, 115, 0.10);
  padding: 24px 95px 0;
} */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  background-color: rgba(229, 84, 115, 0.10);
  /* padding: 24px 95px 0; */

}

.banner-info {
  /* max-width: 708px;
  max-height: 506px; */
  padding-left: 93px;
  padding-right: 93px;
}

.banner-title {
  color: #272727;
  font-size: 55px;
  font-weight: 800;
  /* margin-bottom: 0; */
}

.banner-description {
  /* color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; */
  /* padding-top: 25px; */
  padding-bottom: 25px;

}

.banner-image {
  width: 635px;
  height: 800px;
  padding-top: 55px;
}

/* featured flower section css */
.featured-container {
  margin-top: 128px;
}

.featured-info {
  text-align: center;
}

.featured-description {
  padding-bottom: 48px;
}

.featured-image-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.featured-bg-info p {
  text-align: center;
}

.featured-bg-info>p>a {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
}

.featured-bg-shape1 {
  width: 355px;
  height: 538px;
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 255px 255px 0px 0px;
}

.featured-bg-shape2 {
  width: 355px;
  height: 538px;
  background-color: rgba(5, 151, 160, 0.15);
  border-radius: 255px 255px 0px 0px;
}

.featured-bg-shape3 {
  width: 355px;
  height: 538px;
  background-color: rgba(71, 125, 17, 0.15);
  border-radius: 255px 255px 0px 0px;
}

.featured-image1 {
  width: 283px;
  height: 428px;
  position: relative;
  top: 110px;
  left: 38px;
}

.featured-image2 {
  width: 298px;
  height: 370px;
  position: relative;
  top: 108px;
  left: 55px;
}

.featured-image3 {
  width: 298px;
  height: 471px;
  position: relative;
  top: 68px;
  left: 32px;
}

/* hot deal-section css */
.hot-deal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  padding: 100px 155px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: 128px;
}

.hot-deal-info {
  text-align: center;

}

/* .hot-deal-title span {
  
} */

.hot-deal-image {
  width: 318px;
  height: 420px;
}

/* instagram section css */
.instagram-container {
  margin-top: 128px;
}

.instagram-info {
  text-align: center;
  padding-bottom: 48px;
}

/* .instagram-description {
 
} */

.instagram-image-container {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-left: 8px;
  padding-right: 8px;
}

.instagram-image {
  width: 268px;
  height: 396px;
  /* padding: 0 5px; */
}

/* latest deal section css */
.latest-deal-container {
  /* margin-top: ; */
  text-align: center;
  background-image: url('../image/flower-asset/rectangle\ 9.png');
  max-width: 1108px;
  height: 449px;
  margin: 128px auto;
}

.latest-deal-info {
  padding: 95px 0;
}

.subscription-input {
  margin-top: 48px;
}

.subscription-input input[type="text"] {
  width: 700px;
  height: 62px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 8px;

}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 3px #E55473;
}

/* footer section css */
.footer-container {
  text-align: center;
  background-color: #272727;
  padding: 128px 0;
}

.footer-title {
  font-size: 48px;
  font-weight: 800;
}

.footer-title,
.footer-description,
small {
  color: #FFF;
}